<html>
<head>
    <meta charset="utf-8">
<title>Playing with Bootstrap Select - FormValidation</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Include Bootstrap-select CSS, JS -->
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-select.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='formValidation.min.css') }}" />


<script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='formValidation.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.framework.min.js') }}"></script>

</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-3">
            <h1>Recursive Cookbook</h1>
          </div>
        </div>

 <div class="row">
<form id="bootstrapSelectForm" method="post" action="{{ url_for('hello') }}" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">Recipe</label>
        <div class="col-xs-7 selectContainer">
            <select name="recipe" class="form-control">
                <option value=""></option>
                {% for t in data['recipes'] %}
                <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Time limit</label>
        <div class="col-xs-7 selectContainer">
            <select name="timelimit" class="form-control">
                <option value=""></option>
                {% for t in data['timelimits'] %}
                <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-3 control-label">Servings</label>
        <div class="col-xs-7 selectContainer">
            <select name="servings" class="form-control">
                <option value=""></option>
                {% for t in data['servings'] %}
                <option value="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button  type="submit" class="btn btn-default">Give me a recipe!</button>
        </div>
    </div>
</form>
</div>
        {% if data['recipe_text'] | safe | length > 4 %}
            <div class="form-horizontal">
            <div class="form-group">
                    <label class="col-xs-3 control-label">Recipe:</label>
                    <div class="col-xs-7 selectContainer">
                        {{ data['recipe_text'] | safe  }}
                    </div>
                    </div>
            </div>
        {% endif %}
</div>
</div>



<script>

$(document).ready(function() {
    $('#bootstrapSelectForm')
        .find('[name="timelimit"]')
            .selectpicker()
            .change(function(e) {
                // revalidate the color when it is changed
                $('#bootstrapSelectForm').formValidation('revalidateField', 'timelimit');
            })
            .end()
        .find('[name="recipe"]')
            .selectpicker()
            .change(function(e) {
                $('#bootstrapSelectForm').formValidation('revalidateField', 'recipe');
            })
            .end()
        .find('[name="servings"]')
            .selectpicker()
            .change(function(e) {
                $('#bootstrapSelectForm').formValidation('revalidateField', 'servings');
            })
            .end()
        .formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                timelimit: {
                    validators: {
                        notEmpty: {
                            message: 'Please select a time limit.'
                        }
                    }
                },
                recipe: {
                    validators: {
                        notEmpty: {
                            message: 'Please select a recipe.'
                        }
                    }
                },
                servings: {
                    validators: {
                        notEmpty: {
                            message: 'Please select number of servings.'
                        }
                    }
                }
            }
        });
});
</script>
</body>
</html>