<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe['name'] | title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Time to make food!">
  <link rel="apple-touch-icon" sizes="57x57" href="https://timetomakefood.com/assets/img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://timetomakefood.com/assets/img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://timetomakefood.com/assets/img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://timetomakefood.com/assets/img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://timetomakefood.com/assets/img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://timetomakefood.com/assets/img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://timetomakefood.com/assets/img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://timetomakefood.com/assets/img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://timetomakefood.com/assets/img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://timetomakefood.com/assets/img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://timetomakefood.com/assets/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://timetomakefood.com/assets/img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://timetomakefood.com/assets/img/icons/favicon-16x16.png">
  <link rel="manifest" href="https://timetomakefood.com/assets/img/icons/manifest.json">
  <meta name="msapplication-TileImage" content="https://timetomakefood.com/assets/img/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta name="msapplication-TileColor" content="#56817a">
  <meta name="msapplication-TileImage" content="https://timetomakefood.com/assets/img/icons/microsoft/mstile-144x144.png?v=gAAmLMYXpw">
  <meta name="msapplication-config" content="https://timetomakefood.com/assets/img/icons/microsoft/browserconfig.xml?v=gAAmLMYXpw">
  <meta name="theme-color" content="#56817a">

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="/static/materialize.min.css">


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    img {
      object-fit: cover;
    }
    html {
      font-family: GillSans, Calibri, Trebuchet, sans-serif;
    }

nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
  </style>

  <style>

  </style>

</head>

<body>

  <nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Time To Make Food</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large fixed"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <h3 class="black-text name">&nbsp;Recipes</h3>
          </a>
        </li>

          {% for recipe in other_recipes %}
          <li>
          <div class="user-view">
            <a href="/{{ recipe | replace(" ","-") }}/"><img class="circle" src="/static/img/food/{{ recipe | replace(" ","_") }}.jpg"></a>
            <a href="#!name"><span class="black-text name">{{ recipe | title }}</span></a>
          </div>
        </li>
        <li>
          <div class="divider"></div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </nav>


  <div class="container">


        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TimeToMakeFoodv2-2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4947875154879707"
     data-ad-slot="8812124453"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


  <!-- Tap Target Structure -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a id="menu" class="btn btn-floating btn-large cyan" onclick="toggleTarget();"><i><img src="/static/img/site/help.png" /></i></a>
        </div>
  <div class="tap-target teal lighten-1" data-activates="menu">
    <div class="tap-target-content white-text">
      <h5 align="right">Welcome!</h5>
      <p align="right"><strong>Click on the <a class="btn-floating red"><i class="material-icons">cached</i></a> button next to an ingredient to substitute it for its food ancestors. The instructions and time to make food will update! Click on the <a class="btn-floating grey darken-4"><i class="material-icons">menu</i></a> button to see more recipes. <strong></p>
      <br>
    </div>
  </div>
  <!-- END Tap Target Structure -->


    <!--  Collections Section  -->
    <div id="basic" class="section">

      <div class="col s12 ">

       <div class="card">
        <div class="card-image">
          <img src="/static/img/food/{{ recipe['name'] | replace(" ","_") }}.jpg" height=200px>
        </div>
        <div class="card-content">
              <h3>{{ recipe['name'] | title }}</h3>  <!-- Modal Trigger -->
              <h4><i class="material-icons">alarm</i> {{ recipe['time'] }}</h4>
        </div>
        <div class="card-action">

          <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_stumbleupon"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_pinterest"></a>
</div>
<script>
var a2a_config = a2a_config || {};
a2a_config.linkname = "Make {{ recipe['name'] | title }} in {{ recipe['time'] }}";
a2a_config.linkurl = window.location.href;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</div>
      </div>


      </div>

    </div>
    <!-- End collections -->


    <div class="section">


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Flow chart</h4>
      <br>
      <a href="/static/img/graph/{{ graphviz }}.png" target="_blank">
      <img src="/static/img/graph/{{ graphviz }}.png" class="responsive-img"></a>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
          


      <h3>Ingredients</h3>


      <div class="row">
<div class="col s12 cards-container">
        {% for ingredient in recipe['ingredients'] %}
        <div class="col s6 m4">
          <div class=" card teal darken-3 z-depth-4 ">
            <div class="card-content white-text ">
              
              <span class="card-title ">{{ ingredient.name | title }}</span>
              <p>{{ ingredient.amount }}</p>
              {% if ingredient.has_data %}
              <a class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to replace '{{ ingredient.name }}' with its source ingredients" href="./{{ ingredient.name | replace(" ","-") }}/"><i class="material-icons">cached</i></a>
              {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>

      </div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TimeToMakeFoodv2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4947875154879707"
     data-ad-slot="7335391250"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


      <div class="section ">
        <h3>Instructions                 <a class="waves-effect waves-light btn" href="#modal1">Flow chart</a></h3>

        {% for subrecipe in recipe['instructions'] %}
        <div class="row ">
          <div class="col s12 m12">
            <div class="card z-depth-4 ">
              <div class="card-image">
                <img src="/static/img/food/{{subrecipe['name'] | replace(' ','_')}}.jpg" height=100px>
                <span class="card-title white-text">{{ subrecipe['name'] | title }}</span>
                <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">check</i></a>-->
              </div>
              <div class="card-content  flow-text">
                <ul>
                  {% for instruction in subrecipe['instructions'] %}
                  <li>{{ instruction.count }}. {{ instruction.text }}</li>
                  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>



  </div>


  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4"><a href="timetomakefood.com">timetomakefood.com</a> is an educational website to help inform where food comes from and how food is made. The amount of time and effort that goes into modern food is often lost on the consumer, so <a href="timetomakefood.com">timetomakefood.com</a> helps you to explore the food tree to its most central components.</p>
        </div>
                <div class="col l6 s12">
          <h5 class="white-text">&nbsp;</h5>
          <p class="grey-text text-lighten-4">The source code for <a href="timetomakefood.com">timetomakefood.com</a> is available at <a href="https://github.com/schollz/timetomakefood">Github</a>. </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 
        <a class="grey-text text-lighten-4 right" href="#!">timetomakefood@gmail.com</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="/static/jquery-3.2.1.min.js"></script>

  <script src="/static/jquery.timeago.min.js"></script>
  <script src="/static/prism.js"></script>
  <script src="/static/lunr.min.js"></script>
  <script src="/static/search.js"></script>
  <script src="/static/materialize.js"></script>
  <script src="/static/init.js"></script>




      <script>
      $(document).ready(function () {

        $('.button-collapse').sideNav({
          menuWidth: 200, // Default is 300
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true, // Choose whether you can drag to open on touch screens,
        });

        $('.modal').modal();

        {% if first_time_user %}
      tap_target == true
      $('.tap-target').tapTarget('open');
        {% endif %}
      })
      tap_target = false
      function toggleTarget() {
        if (tap_target == true) {
          tap_target == false
           $('.tap-target').tapTarget('close');
        } else {
          tap_target == true
           $('.tap-target').tapTarget('open');
        }

      }
  </script>

</body>

</html>